.CTA {
  padding: 120px 20px; 
  background-color: var(--cinza-claro);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.CTA-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px; 
  animation: slideInUp 0.8s ease-out forwards;
}

.CTA-content h2 {
  font-size: 2.5rem;
  color: var(--preto);
  margin: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.CTA-content p {
  font-size: 15px;
  color: var(--cinza-escuro);
  animation: fadeIn 0.8s ease-out 0.2s forwards;
  opacity: 0;
}

